.infoReferences{
    background-color: white;
    border: solid 0.3rem rgb(56, 56, 56);
    padding: 3rem 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}

@media(max-width:1279px){
    .infoReferences{
        width: 70%;
        font-size: 1.4rem;
    }
}
@media(max-width:920px){
    .infoReferences{
        width: 60%;
        font-size: 1.3rem;
        padding: 2rem;
    }
}